[Unit]
Description=tkblog service

[Service]
ExecStart=/bin/bash /home/arch/tkblog.sh
Restart=on-failure
RestartSec=15min 30s

[Install]
WantedBy=multi-user.target
